.navbar{
    font-size: 20px;
    position: fixed;
}
#nav{
    /* padding: 2px 100px; */
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
#logos{
    font-size: 30px;
}
h2{
    background-color: blue;
}

@media screen and (max-width: 1000px) {
  #hide{
    display: none;
  }
  #nav{
    padding: 2px 10px;
  }
  }
  